<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <h1>Financial Account</h1>
    </div>
    <div class="col-lg-6">
      <h2>Total: {{financialAccount?.total}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h3>Transactions</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      Type
    </div>
    <div class="col-lg-3">
      Amount
    </div>
  </div>
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="accordion-accounts">
    <ngb-panel *ngFor='let item of financialAccount?.transactions'>
      <ng-template ngbPanelTitle>
        <div class="row">
          <div class="col-lg-3">
            {{item.type == '1'? 'Debit' : 'Credit'}}
          </div>
          <div class="col-lg-3">
            ${{item.amount}}
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-lg-4">
            {{item.type == '1'? 'Debit' : 'Credit'}}
          </div>
          <div class="col-lg-4">
            ${{item.amount}}
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div class="row">
    <div class="col-lg-3">
      <a routerLink="/transactions">Add New Transaction</a>
    </div>
  </div>
</div>